<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - pkmnWildLife</title>


    <link rel="stylesheet" href="/css/w3.css">

    <link rel="stylesheet" href="/icons/style.css"/>

    <script
        src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css"/>

    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>

</head>
<body>
<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">

    <button class="w3-bar-item w3-button w3-large"
            onclick="w3_toggle()">
        Close &times;
    </button>


    <a class="w3-bar-item w3-button w3-mobile" asp-area="" asp-page="/Index">Hauptregeln</a>
    <a class="w3-bar-item w3-button w3-mobile" asp-area="" asp-page="/rules/charactercreation">Character-Erstellung</a>
    <a class="w3-bar-item w3-button w3-mobile" asp-area="" asp-page="/rules/levelup">Levelaufstieg</a>
    <a class="w3-bar-item w3-button w3-mobile" asp-area="" asp-page="/rules/destinies">Schicksale</a>

    <hr/>

    <a class="w3-bar-item w3-button w3-mobile" asp-area="" asp-page="/pokemon/Index">Pokédex</a>
    <a class="w3-bar-item w3-button w3-mobile" asp-area="" asp-page="/moves/Index">AngriffsDex</a>
    <a class="w3-bar-item w3-button w3-mobile" asp-area="" asp-page="/abilities/Index">FähigkeitenDex</a>
    <a class="w3-bar-item w3-button w3-mobile" asp-area="" asp-page="/traits/Index">Traits</a>
</div>

<div id="main">

    <div style="color: #fff; background: @ViewData["HeaderColor"] ">
        <div class="w3-container">
            <h1>
                <button id="openNav" onclick="w3_toggle()" style="background: inherit; border: none">&#9776;</button> @ViewData["Title"]
                @if (ViewData["Type2"] != null)
                {
                    <img src="/icons/type/normal/DE/SV/@Html.Raw($"{ViewData["Type2"]}.png")" class="w3-right"/>
                }
                @if (ViewData["Type1"] != null)
                {
                    <img src="/icons/type/normal/DE/SV/@Html.Raw($"{ViewData["Type1"]}.png")" class="w3-right"/>
                }

            </h1>
        </div>
    </div>

    <main class="w3-container" role="main">
        @RenderBody()
    </main>
</div>


<script>
function w3_toggle() {
    if (document.getElementById("mySidebar").style.display === 'block'){
          document.getElementById("mySidebar").style.display = "none";
    }else{  
            document.getElementById("mySidebar").style.display = "block";

}
}
</script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>