<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="~/css/css.css" asp-append-version="true"/>
    <title>@ViewData["Title"] - pkmnWildLife</title>

    <script
        src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css"/>

    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>

</head>
<body>
<header>
    <div class="navbar">
        <ul>
            <li>
                <a asp-area="" asp-page="/Index">Home</a>
            </li>
            <li >
                <a asp-area="" asp-page="/Privacy">Privacy</a>
            </li>
            <li>
                <a asp-area="" asp-page="/pokemon/Index">Pokédex</a>
            </li>
            <li>
                <a asp-area="" asp-page="/moves/Index">Moves</a>
            </li>
            <partial name="_LoginPartial"/>
        </ul>

    </div>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - pkmnWildLife - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>
@await RenderSectionAsync("Scripts", false)
</body>
</html>