@page
@model pkmnWildLife.Pages.pokemon.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pokemon</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pokemon.ID" class="control-label"></label>
                <input asp-for="Pokemon.ID" class="form-control"/>
                <span asp-validation-for="Pokemon.ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pokemon.Order" class="control-label"></label>
                <input asp-for="Pokemon.Order" class="form-control"/>
                <span asp-validation-for="Pokemon.Order" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pokemon.Name" class="control-label"></label>
                <input asp-for="Pokemon.Name" class="form-control"/>
                <span asp-validation-for="Pokemon.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pokemon.Name_DE" class="control-label"></label>
                <input asp-for="Pokemon.Name_DE" class="form-control"/>
                <span asp-validation-for="Pokemon.Name_DE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pokemon.HEALTH" class="control-label"></label>
                <input asp-for="Pokemon.HEALTH" class="form-control"/>
                <span asp-validation-for="Pokemon.HEALTH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pokemon.ATK" class="control-label"></label>
                <input asp-for="Pokemon.ATK" class="form-control"/>
                <span asp-validation-for="Pokemon.ATK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pokemon.DEF" class="control-label"></label>
                <input asp-for="Pokemon.DEF" class="form-control"/>
                <span asp-validation-for="Pokemon.DEF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pokemon.SP_ATK" class="control-label"></label>
                <input asp-for="Pokemon.SP_ATK" class="form-control"/>
                <span asp-validation-for="Pokemon.SP_ATK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pokemon.SP_DEF" class="control-label"></label>
                <input asp-for="Pokemon.SP_DEF" class="form-control"/>
                <span asp-validation-for="Pokemon.SP_DEF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pokemon.SPEED" class="control-label"></label>
                <input asp-for="Pokemon.SPEED" class="form-control"/>
                <span asp-validation-for="Pokemon.SPEED" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>