@page
@model DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    @Html.Raw(Helpers.MoveRenderer(Model.Move, true))
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Move?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>