@page
@{
    ViewData["Title"] = "Schicksale";
    ViewData["HeaderColor"] = "#f00";
}

<h2 id="schicksale"><span id="anchor-14"></span>Schicksale</h2>
<h3 id="archäologin"><span id="anchor-15"></span>ARCHÄOLOGIN</h3>
<blockquote>
    <p>
        Die Vergangenheit birgt große Geheimnisse. Alte Ruinen, gefallene
        Städte: Um die Pokémon der Gegenwart zu verstehen, müssen wir die
        nachhallenden Überreste der Vergangenheit befragen.
    </p>
</blockquote>
<p>
    Du bist geschickt im Entziffern alter Runen, hast Talent im Umgang
    mit einer Archäologie-Ausrüstung und kannst dein Wissen nutzen, um durch
    den <em>Sand der Zeit </em>zu blicken. Auf Stufe 20 erlaubt dir dein
    Status als Legende, durch die <em>Meere der Zeit </em>zu blicken.
</p>
<p>
    Fertigkeitssteigerung: Spezialwissen (Geschichte) oder Wahrnehmung
    erhöht sich um 10 %, bis zu einem Maximum von 95 %.
</p>
<p>Beherrschung der Ausrüstung: Archäologie-Kit</p>
<ul>
    <li>
        Fähigkeit (Stufe 10): Der Sand der Zeit. Wenn du mindestens 30
        Minuten damit verbringst, einen Gegenstand oder eine Struktur zu
        studieren, kannst du genau sagen, welche Pokémon in der Vergangenheit
        damit interagiert haben, welche Geschichten und Legenden es gibt und ob
        es geheime Funktionen oder magische Effekte hat.
    </li>
    <li>
        Fähigkeit (Stufe 20): Seen der Zeit. Dein Wissen über die
        Vergangenheit stellt selbst das der größten Gelehrten in den Schatten.
        Einmal täglich kannst du einen Gegenstand oder Ort untersuchen und eine
        Tatsache aus der Vergangenheit für wahr erklären. Zum Beispiel, dass
        eine uralte Schlacht stattgefunden hat, dass das Relikt auf den
        Schlafplatz eines bestimmten legendären Pokémon hinweist oder dass ein
        uraltes Werkzeug eigentlich ein primitiver Schlüssel ist. Wenn der
        Gildenmeister es erlaubt, wird dieses Wissen akzeptiert und in den Kanon
        aufgenommen.
    </li>
</ul>
<h3 id="detektiv"><span id="anchor-16"></span>DETEKTIV</h3>
<blockquote>
    <p>
        Die Wahrheit kann schwer zu fassen sein. Sie verbirgt sich in den
        Herzen der Pokémon, so wie ein Schatz in den heimtückischsten Verliesen
        versteckt ist. Sie wird sich mir nicht entziehen. Nicht noch einmal.
    </p>
</blockquote>
<p>
    Du bist ein Experte darin, die Wahrheit herauszufinden, und dank
    deiner <em>scharfen Intuition </em>kannst du Pokémon wie Bücher lesen.
    Auf Stufe 20 bist du für deine legendäre
    <em>
        Makellose Deduktion
    </em>bekannt.
</p>
<p>
    Fertigkeitssteigerung: Wahrnehmung oder Überredung erhöht sich um
    10%, bis zu einem Maximum von 95%. Beherrschung der Ausrüstung:
    Forensik-Kit
</p>
<ul>
    <li>
        Fähigkeit (Stufe 10): Scharfe Intuition. Dreimal täglich kannst du
        dich auf deine Fähigkeiten der Deduktion berufen, um dir Einblick zu
        verschaffen. Der Gildenmeister wird dir zwei Wahrheiten und eine Lüge
        über eine Situation, eine Person oder einen Gegenstand nennen. Es liegt
        an dir, herauszufinden, welche Wahrheit die falsche ist und welchem
        Wissen du vertrauen kannst.
    </li>
    <li>
        Fähigkeit (Stufe 20): Makellose Deduktion. Wenn du mindestens drei
        Beweise hast, kannst du Fakten zu deinem aktuellen Fall genau ableiten.
        Indem du drei Beweisstücke einlöst, kannst du dem Gildenmeister eine
        Frage stellen, die er wahrheitsgemäß beantworten muss. Du kannst diese
        Aktion so lange durchführen, wie du Beweise hast, die du ausgeben
        kannst, und vernünftig argumentieren kannst, wie jeder Gegenstand oder
        jedes Stück Wissen dir helfen würde, die Antwort auf deine Frage zu
        finden.
    </li>
</ul>
<h3 id="dungeonist"><span id="anchor-17"></span>DUNGEONIST</h3>
<blockquote>
    <p>
        Mystery Dungeons waren schon immer mein Zuhause. Wann immer ich mich
        in der Stadt ausruhe, träume ich davon, in diese verschlungenen, mit
        Schätzen gefüllten Labyrinthe zurückzukehren.
    </p>
</blockquote>
<p>
    Deine Leidenschaft für Dungeons und Erkundungen hat dir ein Gefühl
    von <em>Momentum</em> verliehen. Mit Stufe 20 hat deine Legende dich zum
    <em>Meister-Dungeonist</em> ernannt.
</p>
<p>
    Fertigkeitssteigerung: Athletik oder Überleben erhöht sich um 10%,
    bis zu einem Maximum von 95%. Beherrschung der Ausrüstung:
    Campingausrüstung
</p>
<ul>
    <li>
        <p>
            Fähigkeit (Stufe 10): Momentum: Jedes Mal, wenn du in einem
            Kerker einen erfolgreichen Fertigkeitswurf machst, erhältst du einen
            Punkt Schwung, bis zu 5 auf einmal. Du verlierst einen Schwungpunkt,
            wenn du einen Fertigkeitswurf nicht schaffst, und den gesamten Schwung,
            wenn du den Kerker verlässt oder ausgeknockt wirst. Schwung kann wie
            folgt verwendet werden: Jeder Schwungpunkt erlaubt es dir, dich im Kampf
            ein zusätzliches Feld zu bewegen. Bei 5 Impulspunkten verursachen deine
            Angriffe zusätzlich 1d6 Schaden.
        </p>
        <ul>
            <li>
                Du kannst einen Punkt ausgeben, um die Erfolgschance eines Wurfs um
                5% zu erhöhen.
            </li>
            <li>
                Du kannst einen Punkt Schwung ausgeben, um erlittenen Schaden um 1d4
                zu reduzieren.
            </li>
            <li>
                Du kannst drei Punkte Schwung ausgeben, um einen Basisangriff
                auszuführen, nachdem du einen erfolgreichen Angriff auf einen Feind
                gelandet hast.
            </li>
            <li>
                Du kannst deinen gesamten Schwung ausgeben, um einen Zustandszustand
                sofort abzuschütteln.
            </li>
        </ul>
    </li>
</ul>
<!-- -->
<ul>
    <li>
        Fähigkeit (Stufe 20): Meister-Dungeonist: Bevor du einen Kerker
        betrittst, kannst du drei Behauptungen über ihn aufstellen, von denen
        zwei zur Wahrheit werden. Dabei kann es sich um Pokemon, Gegenstände,
        Geheimnisse, das Terrain, den Ruf usw. handeln. Wenn der Gildenmeister
        es zulässt, werden die beiden ausgewählten Fakten in den Kanon
        aufgenommen und gelten für alle zukünftigen Besuche als wahr.
    </li>
</ul>
<h3 id="volksheld"><span id="anchor-17"></span>VOLKSHELD</h3>
<blockquote>
    <p>
        Die Pokémon um mich herum sind der wahre Schatz. Ich werde meinen
        Namen für immer in ihrem Gedächtnis verankern.
    </p>
</blockquote>
<p>
    Du hast das Bedürfnis, anderen zu helfen, und tust dies mit Gespür
    und <em>überragendem Verstand</em>. Mit Stufe 20 ist deine Legende ind
    die <em>Volksmythologie</em> aufgestiegen.
</p>
<p>
    Fertigkeitssteigerung: Überredung oder Handwerk (Beliebig) erhöht
    sich um 10%, bis zu einem Maximum von 95%.
</p>
<p>Beherrschung der Ausrüstung: Werkzeuge des Zimmermanns</p>
<ul>
    <li>
        Fähigkeit (Stufe 10): Überragender Verstand. Du glänzt, wenn die
        Lage am düstersten ist. Wenn du in der Unterzahl bist, in der Falle
        sitzt, einem Feind gegenüberstehst, der größer oder höher gestuft ist
        als du, oder wenn ein Gruppenmitglied ohnmächtig geworden ist, erhältst
        du +15% auf alle Skillwürfe.
    </li>
    <li>
        Fähigkeit (Stufe 20): Volksmythologie. Einmal täglich kannst du
        einer schwierigen Situation entkommen, indem du eine deiner Heldentaten
        aus einem Volksmärchen beschreibst. Zum Beispiel, dass du ein wütendes
        Garados verscheucht hast, indem du deine Zähne gefletscht hast, oder
        dass du über eine drei Patinaraja breite Schlucht gesprungen bist, um
        ein Baby-oltilamm zu retten. Notiere dir deine Volksmärchen-Fähigkeiten,
        wenn du sie einsetzt, damit du sie später wieder verwenden kannst.
    </li>
</ul>
<h3 id="söldner"><span id="anchor-18"></span>SÖLDNER</h3>
<blockquote>
    <p>
        Da ich kein Zuhause, keine Ehre und nichts zu verlieren habe, sind
        meine Fähigkeiten das Einzige, worauf ich mich verlassen kann.
    </p>
</blockquote>
<p>
    Du bist ein Halsabschneider, der seine Fähigkeiten verkauft, um sich
    einen Weg in der Welt zu bahnen. Deine <em>Verzweiflung </em>macht dich
    tödlich, ebenso wie deine legendären <em>Fähigkeiten als Jäger</em>.
</p>
<p>
    Fertigkeitssteigerung: Ausdauer oder Verstohlenheit erhöht sich um
    10%, bis zu einem Maximum von 95%. Beherrschung der Ausrüstung:
    Fallensteller-Werkzeuge
</p>
<ul>
    <li>
        Fähigkeit (Stufe 10): Verzweiflung. Deine Fähigkeiten verbessern
        sich, wenn deine HP sinken. Bei 50 % HP erhältst du +1 auf beide
        Angriffsstatistiken. Bei 25% erhältst du +3. Wenn deine HP auf 0 sinken,
        kannst du 1d4 Runden lang mit +5 auf deine Angriffswerte weiterkämpfen,
        bevor du für 2d6 Stunden bewusstlos wirst.
    </li>
    <li>
        Fähigkeit (Stufe 20): Geschicklichkeit des Jägers. Weisen Sie sich
        selbst ein Ziel zu, das ausgeschaltet werden muss. Du hast immer eine
        ungefähre Vorstellung von ihrem Standort, bewegst dich doppelt so
        schnell direkt auf sie zu, verursachst doppelten Schaden, wenn sie
        weniger als die Hälfte ihrer HP haben, und deine Verbündeten können
        deinen Angriff oder Sp. Atk. als auch ihre eigenen addieren, wenn sie
        sie angreifen. Du kannst das Ziel erst dann wechseln, wenn es
        neutralisiert ist, und musst 24 Stunden warten, bevor du ein neues Ziel
        wählen kannst.
    </li>
</ul>
<h3 id="mythosgebundener">
    <span
        id="anchor-18">
    </span>MYTHOSGEBUNDENER
</h3>
<blockquote>
    <p>
        Mein Leben ist für immer von etwas Geheimnisvollem und Wunderbaren
        berührt worden.
    </p>
</blockquote>
<p>
    Nach einer zufälligen Begegnung mit einem mythischen Pokémon sind
    deine verborgenen Fähigkeiten aufgeblüht und du kannst
    <em>
        einen Mythos
        herbeirufen
    </em>oder später einen <em>Mythos </em>beschwören.
</p>
<p>
    Fertigkeitssteigerung: Finesse oder Spezialwissen (Mythologie) erhöht
    sich um 10 %, bis zu einem Maximum von 95 %.
</p>
<p>Beherrschung der Ausrüstung: Künstlerische Werkzeuge deiner Wahl</p>
<ul>
    <li>
        Fähigkeit (Stufe 10): Mythos anrufen. Abhängig von deinem gewählten
        mythischen Schutzpatron kannst du einmal pro Tag eine besondere
        Fähigkeit aktivieren.
    </li>
</ul>
<!-- -->
<ul>
    <li>
        <ul>
            <li>
                Celebi oder Hoopa: Bewege dich 10 Felder in eine beliebige Richtung,
                auch durch Hindernisse hindurch.
            </li>
            <li>
                Manaphy oder Keldeo: Verdoppelt die Schwimmgeschwindigkeit und
                erhält die Fähigkeit, 30 Minuten lang unter Wasser zu atmen.
            </li>
            <li>
                Meloetta oder Magearna: Lies die Gedanken und Gefühle von Pokémon
                innerhalb von zehn Feldern.
            </li>
            <li>
                Victini oder Marshadow: Macht einen Angriff zu einem garantierten
                kritischen Treffer.
            </li>
            <li>
                Diancie oder Jirachi: Materialisiere einen Edelstein im Wert von 50
                S oder einen Wiederbelebungssamen.
            </li>
            <li>
                Shaymin oder Mew: Heilt alle Verbündeten von Zuständen und reinigt
                alle Verschmutzungen in einem Radius von 5 Feldern.
            </li>
        </ul>
    </li>
</ul>
<!-- -->
<ul>
    <li>
        Fähigkeit (Stufe 20): Mythos beschwören. Deine Verbindung zu deinem
        mythischen Beschützer ist zu einer engen Freundschaft gewachsen. Du
        kannst sie jederzeit als befreundete NSCs beschwören, sie im Kampf
        befehligen und ihre einzigartigen Fähigkeiten nutzen - wie zum Beispiel
        Mews Fähigkeit, DNA zu transformieren, oder Hoopas Teleportation.
    </li>
</ul>
<h3 id="performer"><span id="anchor-18"></span>PERFORMER</h3>
<blockquote>
    <p>
        Der tosende Applaus, das Lob des Publikums - ich lebe für meine
        Auftritte!
    </p>
</blockquote>
<p>
    Ob Musik, Schauspiel oder Tanz, du liebst den Nervenkitzel einer
    <em>inspirierten Performance</em>. Ihre Legende dreht sich um Ihre
    atemberaubende <em>Bühnenbeherrschung</em>.
</p>
<p>
    Fertigkeitssteigerung: Leistung oder Überredungskunst erhöht sich um
    10%, bis maximal 95%. Beherrschung der Ausrüstung: Musikinstrument
    deiner Wahl
</p>
<ul>
    <li>
        Fähigkeit (Stufe 10): Inspirierte Leistung. Dreimal täglich kannst
        du auf eine Weise auftreten, die ein Ziel motiviert oder
        demotiviert:
    </li>
</ul>
<!-- -->
<ul>
    <li>
        <ul>
            <li>Erhöht oder verringert die Erfolgschance eines Wurfs um 10%.</li>
            <li>
                Gewährt +2 oder -2 auf einen der Werte des Ziels, eine Stunde
                lang.
            </li>
            <li>
                Gewährt dem Ziel temporäre HP in Höhe deiner Stufe*Grad, die eine
                Stunde lang oder bis zur Erschöpfung der temporären Trefferpunkte
                anhält.
            </li>
        </ul>
    </li>
</ul>
<!-- -->
<ul>
    <li>
        Fähigkeit (Stufe 20): Bühnenbeherrschung. Wähle drei beliebige auf
        Ton oder Tanz basierende Bewegungen, die du sonst nicht erlernen
        könntest, und füge sie zu deinem verfügbaren Bewegungssatz hinzu. Du
        kannst außerdem eine der folgenden Fähigkeiten pro Tag einsetzen:
        Schritt des Tänzers: Wenn du dich im Kampf bewegst, kannst du jedem
        Feind, an dem du dich vorbeibewegst, unangefochten und ohne Typisierung
        1d10 Schaden zufügen. Beruhigende Serenade: Heilt Verbündete in Hörweite
        um 4d6 HP und heilt alle Statuswerte, die auf Wut, Verwirrung oder Angst
        basieren. Fesselnde Rede: Bewege die Herzen von bis zu 10 Pokémon in
        Hörweite, indem du ihre Haltung gegenüber einem Ziel deiner Wahl bis zu
        drei Felder in eine beliebige Richtung auf dieser Skala änderst:
        Feindlich | Gehasst | Abgelehnt | Neutral | Beliebt | Geliebt |
        Erhaben
    </li>
</ul>
<h3 id="retter"><span id="anchor-18"></span>RETTER</h3>
<blockquote>
    <p>Solange es Pokémon in Not gibt, werde ich da sein, um zu helfen.</p>
</blockquote>
<p>
    Du hast dein Leben der Rettung anderer gewidmet. Nicht nur deine
    <em>Notfall-Heilung </em>wird geschätzt, sondern auch deine
    <em>Retter-Fähigkeiten </em>sind unvergleichlich.
</p>
<p>
    Fertigkeitssteigerung: Medizin oder Überleben erhöht sich um 10%, bis
    zu einem Maximum von 95%. Beherrschung der Ausrüstung: Werkzeug des
    Sanitäters - Fähigkeit (Stufe 10): Notfall-Heilung. Wenn deine eigenen
    HP unter 50% liegen, wird jede Heilung, die du einem Verbündeten
    zukommen lässt, verdoppelt. Wenn du eine Portion der Ration mit einem
    anderen Pokémon teilst, erhalten beide die Vorteile der vollen Mahlzeit.
    - Fähigkeit (Stufe 20): Geschicklichkeit des Retters. Lege ein Ziel
    fest, das gerettet werden muss. Du bewegst dich doppelt so schnell und
    ignorierst schwieriges Gelände, wenn du dich auf das Ziel zubewegst. Du
    benötigst die Hälfte der Rationen und Ruhezeiten, wenn du dich im selben
    Kerker wie das Ziel befindest, und erhältst einen Bonus von +5 auf alle
    Werte, wenn das Ziel in Sichtweite ist. Du kannst das Ziel nicht
    wechseln, bis sie gerettet sind, und musst 24 Stunden warten, bevor du
    ein neues Ziel wählst.
</p>
<h3 id="schattenklinge"><span id="anchor-18"></span>SCHATTENKLINGE</h3>
<blockquote>
    <p>
        Aus der Gesellschaft verstoßen, umarme ich die gesetzlose Wildnis.
        Kein Pokémon wird mich beherrschen.
    </p>
</blockquote>
<p>
    Als Berufsverbrecher bist du ebenso furchterregend wie vielseitig. Du
    bist bekannt für dein Talent für <em>bewaffnete Schläge </em>und deine
    Legende verehrt deine <em>Klingenbeherrschung</em>.
</p>
<p>
    Fertigkeitssteigerung: Athletik oder Schleichen erhöht sich um 10 %,
    bis zu einem Maximum von 95 %.
</p>
<p>
    Ausrüstungskompetenz: Klingenwaffen und improvisierte Waffen -
    Fähigkeit (Stufe 10): Bewaffnete Schläge. Deine Grundangriffe werden mit
    einer Waffe ausgeführt. Sie verursachen zusätzlich 1d10 Schaden, erhöhen
    die Genauigkeit auf 100% und haben eine 10%ige Chance, zu zucken.
</p>
<ul>
    <li>
        Fähigkeit (Stufe 20): Klingenbeherrschung. Indem du eine kurze
        Beschreibung eines vergangenen Abenteuers gibst, kannst du die Art des
        Schadens wählen, den deine Waffe verursacht - zum Beispiel, dass sie von
        einem Blitz getroffen wurde, um elektrischen Schaden zu verursachen,
        oder dass sie in den Flammen von Groudons Herz gehärtet wurde, um Feuer
        zu verursachen. Du kannst auch wählen, dass sie 1d10 zusätzlichen
        Schaden verursacht oder eine 20%ige Chance hat, einen Statuszustand
        deiner Wahl zu erleiden. Diese Boni halten 24 Stunden lang an und können
        täglich gewechselt werden.
    </li>
</ul>
<h3 id="dieb"><span id="anchor-18"></span>DIEB</h3>
<blockquote>
    <p>
        Die ganze Welt gehört mir, also bediene ich mich: Nur ein Schatz kann
        mit meinem Glanz mithalten.
    </p>
</blockquote>
<p>
    Du bist ein talentierter Taschendieb mit einem guten Händchen für
    Beute. Berühmt für deine Fähigkeit, <em>Herzen zu stehlen</em>, werden
    die Offiziere deine <em>künstlerischen Fluchten </em>bereuen.
    Fertigkeitssteigerung: Finesse oder Verstohlenheit erhöht sich um 10%,
    bis zu einem Maximum von 95%.
</p>
<p>Beherrschung der Ausrüstung: Werkzeuge der Diebe</p>
<ul>
    <li>
        Fähigkeit (Stufe 10): Herzen stehlen. Nachdem du einem Feind
        erfolgreich einen Gegenstand gestohlen hast, kannst du ihm wahlweise den
        Status “Verliebt” oder “Verwirrt” zuweisen, der 10 Runden oder 30
        Minuten außerhalb des Kampfes anhält.
    </li>
    <li>
        Fähigkeit (Stufe 20): Künstlerische Fluchten. Bei schlechter Sicht,
        z.B. in der Dämmerung oder bei Nebel, kannst du dich völlig unsichtbar
        machen. Deine Unsichtbarkeit endet, wenn du angreifst oder wenn die
        Sicht um dich herum zunimmt. Solange du unsichtbar bist, kannst du nicht
        durch Sicht, Geräusche oder Gerüche aufgespürt werden und erhältst einen
        Bonus von 20 % auf Wahrnehmungswürfe, maximal jedoch 95 %. Wenn du einen
        Angriff gegen einen Gegner ausführst, der dich nicht sehen kann, wird
        der Schaden des Angriffs verdoppelt.
    </li>
</ul>